body {
  font-family: Arial, Helvetica, sans-serif;
  background: peachpuff;
  margin: 0;
}

.header {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  background-color: black;
  padding: 20px;
}

.header a {
  text-decoration: none;
}

.header-right {
  text-align: right;
  float: right;
}

.header-right a {
  float: left;
  color: black;
  font-weight: bold;
  padding: 15px 10px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: darkorange;
  color: white;
  transition: 0.3s;
}

.header-right a:hover {
  background-color: white;
  color: black;
}

.header-right a.active {
  background-color: blue;
}

.header-left {
  text-align: left;
  float: left;
  margin-top: 10px;
  margin-bottom: 11px;
}

.header-left a {
  cursor: default;
  vertical-align: middle;
  background-color: black;
  font-size: 24px;
}

.header-left a:visited {
  color: white;
}

.fa fa-caret-down {
  display: none;
}

.dropdown-content {
  position: absolute;
  display: block;
  background-color: darkorange;
}

.dropdown-content a {
  display: none;
  background-color: darkorange;
  color: black;
  overflow: auto;
  border-bottom: 2px;
  width: 200px;
}



@media screen and (max-width: 760px){
  .header-left {
    display: block;
    float: none;
  }

  .dropdown-content {
    display: block;
  }
  
  .header-right {
    display: none;
  }

  .header-left:hover .dropdown-content a {
    display: block;
  }
}